<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- allowing all-->
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Authorization" />
                <add name="X-RateLimit-Limit" value="60" />
                <add name="X-RateLimit-Remaining" value="0" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".apk" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="API V4 AUTH LOGIN" stopProcessing="true">
                    <match url="auth/token$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="login.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 VRF TOKEN" stopProcessing="true">
                    <match url="vrf/token$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="vrftoken.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL Menus" stopProcessing="true">
                    <match url="menu" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="menu/menu.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Dashboard Faturamento" stopProcessing="true">
                    <match url="dashboard1" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_faturamento.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Dashboard Ticket Médio" stopProcessing="true">
                    <match url="dashboard2" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_ticketmedio.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Dashboard Forma Pagamento" stopProcessing="true">
                    <match url="dashboard3" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_formapagamento.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Produtos Faturamento" stopProcessing="true">
                    <match url="topsales$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_topsales.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Produtos Cortesia" stopProcessing="true">
                    <match url="topsalescortesia$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_topsalescortesia.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 TOPSALES999" stopProcessing="true">
                    <match url="topsales999$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_topsales999.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Envio Pendências" stopProcessing="true">
                    <match url="enviopendencias$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_pendencia.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Status" stopProcessing="true">
                    <match url="fullsales$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboard/dshbrd_salesfull.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 CompanyGroups" stopProcessing="true">
                    <match url="companygroups" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="companygroups/companygroups.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL CompanyUsers" stopProcessing="true">
                    <match url="companyusers" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="companyuser/companyuser.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 CUSTOMERSTATUSES" stopProcessing="true">
                    <match url="customerstatuses" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="customerstatuses/customerstatuses.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API V4 CUSTOMERTYPES" stopProcessing="true">
                    <match url="customertypes" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="customertypes/customertypes.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API V4 CUSTOMERS STORES" stopProcessing="true">
                    <match url="customerstores" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="customerstores/customerstores.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API V4 CUSTOMERS" stopProcessing="true">
                    <match url="customers" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="customers/customers.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API PRODUCTS" stopProcessing="true">
                    <match url="products" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="products/products.php?q={R1}" appendQueryString="true" />
                </rule>
				<rule name="API STATES" stopProcessing="true">
                    <match url="states" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="states/states.php?q={R1}" appendQueryString="true" />
                </rule>
				<rule name="API CITIES" stopProcessing="true">
                    <match url="cities" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="cities/cities.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API ProductGroup" stopProcessing="true">
                    <match url="productgroups" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="productgroups/productgroups.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API ProductTypes" stopProcessing="true">
                    <match url="producttypes" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="producttypes/producttypes.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API UnitTypes" stopProcessing="true">
                    <match url="unittypes" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="unittypes/unittypes.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API PaymentTypeGroups" stopProcessing="true">
                    <match url="paymenttypegroups" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="paymenttypegroups/paymenttypegroups.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API PaymentTypes" stopProcessing="true">
                    <match url="paymenttypes" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="paymenttypes/paymenttypes.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API POSPDVConfigs" stopProcessing="true">
                    <match url="pospdvconfigs" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="pospdvconfigs/pospdvconfigs.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API POSPDVs" stopProcessing="true">
                    <match url="pospdvs" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="pospdvs/pospdvs.php?q={R1}" appendQueryString="true" />
                </rule>
                <rule name="API V4 DASHBOARD1" stopProcessing="true">
                    <match url="dashboard1$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboards/rtr_json_graph_dashboard1.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 DASHBOARD2" stopProcessing="true">
                    <match url="dashboard2$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboards/rtr_json_graph_dashboard2.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 DASHBOARD3" stopProcessing="true">
                    <match url="dashboard3$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="dashboards/rtr_json_graph_dashboard3.php" appendQueryString="true" />
                </rule>                
                <rule name="API V4 FULL SecRole" stopProcessing="true">
                    <match url="secroles" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secroles/secroles.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecFunctionality" stopProcessing="true">
                    <match url="secfunctionalities" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secfunctionalities/secfunctionalities.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecObject" stopProcessing="true">
                    <match url="secobjects" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secobjects/secobjects.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecFunctionalityRoles" stopProcessing="true">
                    <match url="secfunctionalityroles" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secfunctionalityroles/secfunctionalityroles.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecObjectFunctionalities" stopProcessing="true">
                    <match url="secobjectfunctionalities" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secobjectfunctionalities/secobjectfunctionalities.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecUserFunctionalities" stopProcessing="true">
                    <match url="secuserfunctionalities" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secuserfunctionalities/secuserfunctionalities.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecUserRoles" stopProcessing="true">
                    <match url="secuserroles" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secuserroles/secuserroles.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecUsers" stopProcessing="true">
                    <match url="secusers" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="secusers/secusers.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL SecIsAuthByFunctionalityKey" stopProcessing="true">
                    <match url="secisauthbyfunctionalitykey" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="security/secisauthbyfunctionalitykey.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 FULL AccessLevel" stopProcessing="true">
                    <match url="accesslevel" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="accesslevel/accesslevel.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Config CompanyGroup" stopProcessing="true">
                    <match url="configcompanygroup" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="configcompanygroup/configcompanygroup.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Config Company" stopProcessing="true">
                    <match url="configcompany" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="configcompany/configcompany.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 SaleItem" stopProcessing="true">
                    <match url="saleitems" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="saleitems/saleitems.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 SalesCancel" stopProcessing="true">
                    <match url="salescancel" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="sales/salescancel.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 Sale" stopProcessing="true">
                    <match url="sales" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="sales/sales.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 iFoodOrder" stopProcessing="true">
                    <match url="ifoodorder" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="ifood/ifoodorder.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 iFoodLog" stopProcessing="true">
                    <match url="ifoodlog" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="ifood/ifoodlog.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 iFoodCustomers" stopProcessing="true">
                    <match url="ifoodcustomers" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="ifood/ifoodcustomer.php" appendQueryString="true" />
                </rule>
                <rule name="API V4 ExternalSale" stopProcessing="true">
                    <match url="externalsales" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="externalsales/externalsales.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="php 56" />
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <system.web>
        <httpRuntime requestValidationMode="2.0" />
        <pages validateRequest="false" />
    </system.web>
</configuration>